# Unique name for this workflow
name: Enforce branch naming

# Definition when the workflow should run
on:
    push:
        branches-ignore:
            - main

# Jobs to be executed
jobs:
    validate-branch-name:
        runs-on: ubuntu-latest
        steps:
            - name: Validate branch name requirements
              uses: nelonoel/branch-name@v1.0.1
              with:
                regex: '([a-zA-Z])+\/([a-zA-Z])+'
                min_length: 6
            # Use branch name for whatever purpose
              run: echo ${BRANCH_NAME}
                